@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ASP.NET Adventure Seminar!</h1>
    <p>We are having a very exciting seminar, with a number of events, at the Moscone Center in San Francisco.</p>
</div>
