body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
header {
  width: 100%;
}
h1 {
  text-align: center;
}
h4 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

nav {
  min-width: 200px;
}

nav ul {
  list-style: none;
  margin: 0px;
}

#subnav ul {
  padding-inline-start: 0px;
  margin: 0.3rem;
  text-align: center;
}

h3 {
  margin: 0px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

aside {
  margin: 1rem;
  border: 1px solid gray;
  border-radius: 7px;
  text-align: center;
  background-color: lightgoldenrodyellow;
}

p {
  margin: 0.6rem;
}

section p,
section ul li {
  max-width: 700px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
form label {
  margin: 0.2rem;
}

form label textarea {
  margin-top: 0.2rem;
  display: block;
}

footer {
  margin-top: 1rem;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.primary-img {
  max-width: 600px;
  height: auto;
}

@media (max-width: 1200px) {
  #buffer {
    display: none;
  }
}

@media (max-width: 900px) {
  .main-content {
    flex-direction: column;
  }

  nav {
    text-align: center;
  }
  nav ul {
    padding-inline-start: 0px;
    margin: 0.3rem;
  }
}

@media (max-width: 750px) {
  section {
    margin: 0.2rem;
  }
}

@media (max-width: 625px) {
  #random {
    width: 95%;
  }
  .primary-img {
    width: 95%;
  }
}

@media (max-width: 500px) {
  ul {
    padding-inline-start: 0rem;
    margin: 0.3rem;
  }
}
